<!DOCTYPE html>
<html>

<head>
  <title>Templates</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <h1>Templates</h1>
  {{ range $t := . }}
  <a href="./{{ index $t 0 }}.html">{{ index $t 1 }}</a>
  {{end}}
</body>
