Service
name = my-service
pod_selector = my-app
port_name = http
port = 8080
target_port = http

apiVersion: v1
kind: Service
metadata:
  name: ${name}
  labels:
    app: ${pod_selector}
spec:
  ports:
    - name: ${port_name}
      port: ${port}
      targetPort: ${target_port}
  selector:
    app: ${pod_selector}
